
html,
body {
    margin: auto;
    background-color: dimgrey;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container {
    max-width: 20px;
    margin-right: 50%;
}

.content-container {
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}

.header {
    color:cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 1em;
    background-color: rebeccapurple;
}

.header-top {
    margin-top : 20px;
    display:flex;
    justify-content: space-between;
}
#search-input {
    width: 45%;
    height: 50%;
    margin-right: em;
}
.header-top-alert{
    display: flex;
    gap: 25px;
    margin-left: 1em;
}


.header-left {
    display: flex;
}

.welcome {
    margin-left : 4rem;
}

.buttons {
    margin-left: 35%;
    margin-top: 7%;
}