html,
body {
    background-color: darkgrey;
    margin: auto;
    min-width: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

img {
    width: 20px;
    height: 20px
}

.sidebar {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-height: 100vh;
}

.side-logo {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}
#side-logo {
    height: 56px;
    width: 56px;
}

.sidebar-container {
    width: 75%;
    font-size : 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    padding: 1rem;
}

.sidebar-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15%;
    height: 3.5rem;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}
.sidebar-item:hover {
    background-color:rgba(0,0,0,0.25);
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
}

.header-top {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: lightblue;
    height: 40%;
    padding-left: 2rem;
}

.header-top-alert {
    margin-left: 30rem;
}

#search-input {
    height: 25%;
    padding: 10px;
    width: 30rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-radius: 20px;
    border: none;

}

.header-top-alert {
    display: flex;
    gap: 1em;
}

.header-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: lightgreen;;
    padding-left: 4rem;
}

#profile-pic {
    padding-right: 3rem;
}

.welcome {

    padding-left: 1rem;
    padding-right: 1rem;
}

.buttons {
    margin-left: 40%;
    display: flex;
    gap: 4rem;
}

.button {
    padding: 5%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 10px;
    border: none;
    background-color: lightseagreen;
}
.button:hover {
    background-color: lightblue;
}

.content {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.projects {
    background-color: aliceblue;
    padding: 1rem;
    gap: 1rem;
    max-height: 60%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 6fr 6fr 6fr;
}
#projects-header {
    grid-column: 1/ 3;
}

.project-box {
    background-color: yellow;
    display: grid;
}

.announce-trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;;
    background-color: lightgrey;
    max-width: 25%;
    font-size: 0.75rem;
    max-height: 50%;
}

.announce {
    background-color: lightpink;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

}

.ann-box {
    width: 80%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#announce-title {
    font-size: 0.9rem;
    font-weight: 1000;
    margin-bottom: -2px;
}
.ann-box-title {
    font-weight: 800;
    background-color: aqua;
    margin-bottom: -1px;
}
.ann-para {
    background-color: aquamarine;
    padding-left: 1rem;
    padding-right: 1rem;
}



.trending {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    padding-bottom: 1rem;
    gap: 6px;
}
#trending-title {
    font-weight: 1000;
    font-size: 0.9rem;
    margin-bottom: -2px;
}

.trending-box {
    background-color: lightyellow;
    width: 80%;
    height: 25%;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
}

.trending-icon {
    grid-row: 1 / 3;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    height: 25%;
    width: 50%;
}

.trending-para {
    width: 75%;
    background-color: lightcyan;
}
