
html,
body {
    margin: auto;
    background-color: dimgrey;
    height: 100vh;
    width: 99.1vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container {
    max-width: 20px;
    margin-right: 50%;
}

.content-container {
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 1fr 3.5fr;
    max-height: 75%;
}

.header {
    color:cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rebeccapurple;
}

.header-top {
    display:flex;
    justify-content: space-around;
}
#search-input {
    margin-top: 1rem;
    width: 45%;
    height: 50%;
}
.header-top-alert{
    display: flex;
    gap: 1rem;
}


.header-left {
    display: flex;
    gap: 5rem;
}

.welcome {
    padding-left: 5rem;;
}

.buttons {
    padding-left: 10rem;
    margin-top: 2rem;;
}

.content {
    display: grid;
    grid-template-columns: 6fr 2fr;
}
.announce {
    grid-column-start: 2;
}
.trending {
    grid-column-start: 2;
    max-height: 75%;
}

.projects {
    display: grid;
    grid-area: 1 / 1 / 3;
    grid-template-columns: 3fr 3fr;
    align-content: start;
    gap: 25px;
}
.project-box {
    background-color: blue;
    max-width: 75%;
}
#project-box1 {
    grid-column-start: 1;
}

.announce {
    font-size : 0.9rem;
}

.ann-box {
    max-width: 20rem;
}

.trending {
   background-color: lightsalmon;
   grid-template-columns: 1fr;

}

.trending-box {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    background-color: aliceblue;
    max-height: 50%;
}
.trending-icon{
    grid-area: 1/ 1/ 3;
    background-color: lightblue;
    max-height: 40%;
    max-width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;;
}