
html,
body {
    margin: auto;
    background-color: dimgrey;
    height: 100vh;
    width: 99.1vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container {
    max-width: 20px;
    margin-right: 50%;
}

.content-container {
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}

.header {
    color:cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    background-color: rebeccapurple;
    max-height: 75%;
}

.header-top {
    display:flex;
    justify-content: space-around;
}
#search-input {
    margin-top: 1rem;
    width: 45%;
    height: 50%;
}
.header-top-alert{
    display: flex;
    gap: 1rem;
}


.header-left {
    display: flex;
    gap: 5rem;
}

.welcome {
    padding-left: 5rem;;
}

.buttons {
    padding-left: 10rem;
    margin-top: 7%;
}

.content {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
}
.announce {
    grid-column-start: 2;
}
.trending {
    grid-column-start: 2;
}

.projects {
    display: grid;
    grid-template-columns: 3fr 3fr;
}
#project-box1 {
    grid-column-start: 1;
}



.ann-box {
    max-width: 20rem;
}